<?xml version="1.0" encoding="utf-8"?>
<!--
     This configuration file is required if iisnode is used to run node processes behind
     IIS or IIS Express.  For more information, visit below link

     https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->

<configuration>
  <system.webServer>
    <!-- Visit http://blogs.msdn.com/b/windowsazure/archive/2013/11/14/introduction-to-websockets-on-windows-azure-web-sites.aspx for more information on WebSocket support -->
        <webSocket enabled="false"/>
        <handlers>
            <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
            <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
        </handlers>

        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
            <mimeMap fileExtension=".woff" mimeType="application/x-woff"/>
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
            <mimeMap fileExtension=".ttf" mimeType="application/x-ttf"/>
        </staticContent>

    <rewrite>
      <rules>
                <!-- HTTPS Redirect 
                <rule name="Force HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>-->

                <!-- Socket.io stuff -->
                <rule name="LogFile" patternSyntax="ECMAScript">
                    <match url="socket.io/*"/>
                    <action type="Rewrite" url="index.js"/>
                </rule>
                <!-- Do not interfere with requests for node-inspector debugging -->
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^index.js\/debug[\/]?"/>
                </rule>
                <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>

                <!-- All other URLs are mapped to the node.js site entry point -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="index.js"/>
                </rule>
      </rules>
    </rewrite>
    
        <!-- Make sure error responses are left untouched -->
        <httpErrors existingResponse="PassThrough"/>
        <!--
            You can control how Node is hosted within IIS:
            See https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config for a full list of options
        -->
        <iisnode loggingEnabled="true" debuggingEnabled="true" devErrorsEnabled="true"/>
        <modules>
          <remove name="TelemetryCorrelationHttpModule"/>
          <remove name="ApplicationInsightsWebTracking"/>
        </modules>
        <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.web>
    <httpModules>
    </httpModules>
  </system.web>
</configuration>

